name: yesyoucan-prod

services:
  api:
    container_name: yesyoucan-api
    build:
      context: ./Api
      dockerfile: dockerfile
    env_file:
      - ./Api/.env
    image: yesyoucan-api:latest
    restart: unless-stopped
    expose:
      - "7000"
    ports:
      - "7000:7000"
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=api.yesyoucan.cat
      - LETSENCRYPT_HOST=api.yesyoucan.cat
      - VIRTUAL_PORT=7000
    networks:
      - proxy_net

  test-app:
    container_name: yesyoucan-app
    build:
      context: ./App
      dockerfile: dockerfile
    image: yesyoucan-app:latest
    restart: unless-stopped
    expose:
      - "3000"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=www.yesyoucan.cat,yesyoucan.cat
      - LETSENCRYPT_HOST=www.yesyoucan.cat,yesyoucan.cat
      - VIRTUAL_PORT=3000
      - HSTS=on
    networks:
      - proxy_net

  test-db:
    container_name: yesyoucan-db
    image: mysql:8.0
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - proxy_net

volumes:
  db_data:

networks:
  proxy_net:
    external: true
